/* header */
.auto-hide-header {
    z-index: 100;
    background-color: #fff;
    width: 100%;
    top: 0px;
}

.top-nav {
    padding-bottom: 15px;
    text-align: right;
    position: relative;
}
.container-custom {
    margin: 0 auto;
    width: 1270px;
}
.top-nav .logo {
    position: absolute;
    left: 0;
    bottom: 40px;
    max-width: 30%;
}

.top-nav .filter-bar .filter-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
.top-nav .header-text {
    text-decoration: none;
    padding: 0 15px;
    border-right: 1px solid #e1e1e1;
    height: 34px;
    line-height: 34px;
    color: #666;
    display: inline-flex;
    align-items: center;
    transition: none;
}
.top-nav .dropdown {
    background-color: #fff;
    display: inline-block;
}
.collapsing, .dropdown, .dropup {
    position: relative;
}
.top-nav .dropdown>a {
    color: #666;
    display: flex;
    height: 35px;
    justify-content: space-between;
    padding: 0 15px;
    width: 100%;
    border-radius: 0;
}

.top-nav .dropdown>a span {
    display: flex;
    align-items: center;
}
.top-nav .dropdown>a span i {
    font-size: 20px;
    color:#29c314;
    margin-right: 10px;
}
.top-nav .dropdown>a i {
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 18px;
    margin-left: 10px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a {
    clear: both;
    font-weight: 400;
    color: #333;
}
.dropdown-header, .dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    line-height: 1.42857143;
    white-space: nowrap;
}
.top-nav .filter-bar .filter-nav-under {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.company_name {
  text-align: center;
  padding: 0px 10px 0px 10px;
  position: relative;
}

.company_name h1 {
  margin-bottom: 0px;
  color: #de5e00;
  font-size: 20px;
  font-weight: 600;
}
.company_name p {
  color: #29c314;
 }
.filter-nav-title {
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-nav .filter-bar .search-form {
    display: inline-flex;
    width: 500px;
}
.top-nav .dropdown {
    background-color: #fff;
    display: inline-block;
}

/* search */
.toursearchbar {
    width: 100%;
    height: 36px;
    position: relative;
  }
  .search-caption {
    width: 20%;
    height: 35px;
    margin-left: 120px;
    float: left;
    background-color:#29c314
    
  }
  
  .search-caption span {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
    float: right;
    line-height: 35px;
    font-size: 12pt;
    padding-right: 15px;
    text-indent: 35px;
  }
  .triangle-right {
    width: 0;
    border-top: 18px solid transparent;
    border-left: 20px solid #29c314;
    border-bottom: 18px solid transparent;
    float: left;
  }
  .search-frm {
    float: left;
    height: 36px;
  }
  label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .search-frm label {
    color: #333;
    line-height: 25px;
    margin-top: 5px;
    font-size: 9pt;
    font-weight: normal;
    border-radius: 5px;
    margin-left: 15px;
    float: left;
  }
  
  .search-frm .dropdown {
    margin-right: 10px;
    margin-left: 10px;
  }
  .search-frm .dropdown {
    float: left;
  }
  .dropdown {
    position: relative;
  }
  
  select.select_f_search {
    height: 25px;
    color: #333;
    background: transparent;
    padding: 0 15px;
    margin-top: 5px;
    font-size: 12px;
  }
  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  .fs-wrap {
    display: inline-block;
    cursor: pointer;
    line-height: 1;
    width: 100%;
  }
  .dropdown .fs-label-wrap {
    border-radius: 3px;
    height: 25px;
    color: #fff;
    background: transparent;
    padding: 0 15px;
    margin-top: 5px;
    font-size: 12px;
  }
  .fs-label-wrap, .fs-dropdown {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .fs-label-wrap {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: default;
  }
  .dropdown .fs-dropdown {
    width: 200px;
    right: 0;
  }
  .hidden {
    display: none;
  }
  .fs-dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 300px;
    margin-top: 5px;
    z-index: 1000;
    right: 20px;
  }
  .btnsearchtour {
    height: 36px;
    border: none;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    margin-left: 15px;
    position: relative;
    width: 146px;
  }
  .triangle-left01 {
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-left: 20px solid;
    border-bottom: 18px solid transparent;
    left: 6px;
    position: absolute;
    z-index: 991;
  }
  .btntext {
    line-height: 36px;
    background-color: #29c314;
    display: block;
    float: left;
    z-index: 990;
    padding-left: 24px;
    padding-right: 8px;
  }
  .btntext::after {
    content: "Tìm kiếm";
  }
  .search-caption span::after {
    content: "Tìm tour du lịch";
  }
